.admin-container {
    margin: 2rem auto;
  }
  
  form input, form button {
    display: block;
    margin: 10px 0;
    padding: 10px;
    width: 80%;
  }
  
  .carousel-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 2rem;
  }
  
  .carousel-card {
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    color: white;
    position: relative;
  }
  
  .carousel-card img {
    width: 100%;
    border-radius: 5px;
  }
  