.bg-bus-page {
  background: linear-gradient(to bottom, #e5e6e6d3, #fffffff2);
}
.buses1{
      border: 1px solid rgba(202, 198, 198, 0.768);
      width: 85%;
      margin-left: 110px;
      padding: 15px;
      background-color: #f9f9f9;
      position: relative;
    }
.buses1:hover{
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.semi{
      font-size: small;
}
.view-seats{
      width: fit-content;
      font-size:small;
      font-weight: bold;
      border: none;
      padding: 10px;
      background-color:  #d84e55;
      position: relative;
      top: 100px;
}
.seat-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      transform: rotate(270deg);
      transform-origin: center;
      height: 380px;
      margin-left: -200px;
    }
    
    .seat {
      text-align: center;
      margin: 5px;
    }
    
    button.seats-btn {
      width: 50px;
      height: 50px;
      font-weight: bold;
    }
    .seat-box {
      width: 25px;
      height: 25px;
      border-radius: 5px;
    }
.seat-legend{
      margin-left: 500px ;
} 
.seats-available{
 position: absolute;
 right: 0px;
 top: 10px;
}
.bus-summary{
  border: none !important;
  background-color: transparent !important;
  box-shadow: none !important;
}
.seat-1-container{
  display: flex;
}
@media screen and (max-width:769px){
  .buses1{
    margin: 0 auto;
  }
}
@media screen and (max-width:767px) {
  .seats-available{
    top: 110px;
   }
}
@media screen and (max-width:331px) {
  .media-arrival{
    position: relative;
    top: 20px;
  }
  .view-seats{
    top: 120px;
  }
  .media-arrival{
    top: auto;
  }
  .media-arrival-1{
    position: relative;
    top: 20px;
  }
}
@media screen and (min-width:1024px) {
  .seat-1-container{
    display: block;
    width: auto;
  }
}
@media screen and (max-width:775px) {
  .seat-1-container{
    display: block;
    width: auto;
  }
  .seat-container {
    display: inline-block;
    align-items: center;
    transform: rotate(0deg);
    transform-origin: center;
    height: 380px;
    margin-left: 100px;
  }
  .seat{
    width: 18% !important;
  }
}
@media screen and (max-width:620px) {

  .seat-legend{
    top: 600px !important;
    right: 150px !important;
  }
  .seat-1-container{
    width: 110%;
    text-align: center;
    height: 750px;
    
  }
}
@media screen and (max-width:426px) {

  .seat-legend{
    top: 600px !important;
    right: 175px !important;
  }
  .seat-1-container{
    width: 110%;
    text-align: center;
    height: 750px;
    margin-left: 4px;
  }
}
@media screen and (max-width:376px) {

  .seat-legend{
    top: 600px !important;
    right: 150px !important;
  }
  .seat-1-container{
    width: 120%;
    text-align: center;
    height: 750px;
    margin-left: -10px;
  }
}
@media screen and (max-width:326px) {

  .seat-legend{
    top: 600px !important;
    right: 115px !important;
  }
  .seat-1-container{
    width: 130%;
    text-align: center;
    height: 750px;
    margin-left: 0px !important;
    left: -100px !important;
  }
}
.seat-1-container{
  position: relative;
  left: -80px;
}
.seat-legend{
  position: absolute;
  right: -5px;
  top: 10px;
}
