
  .enter-no-cancel{
    border-bottom: 1px solid #3b3b3b;
    width: 28% !important;
  }
  
  .bg-change{
    background-color: #f8f9fa ;
  }
  
  .btn-slt-pass {
    background-color:  #d84e55;
    border: none;
    padding: 10px;
    border-radius: 5px;
    width: 80%;
    margin-bottom: 200px;
  }
  .cyt{
    background-color: transparent;
  }
  @media screen and (max-width:993px) {
    .enter-no-cancel{
        width: auto !important;
    }
  }