.helpbg{
      background-color:   #d84e55 !important;
      height: 850px;
}
.faq{
      background-color: rgb(235, 235, 235);
      height: 750px !important;
      border-radius: 5px;
      
}
.redbus_faqs{
      background-color: white;
      width: 95%;
      margin-left: 10px;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
      position: relative;
      top: 15px;
}
.help_topics{
      color: rgba(109, 108, 108, 0.75);
}
.tickets{
      background-color: white;
      width: 95%;
      margin-left: 10px;
      border: none;
      text-align: left;
      position: relative;
}
.arrow1{
      position: absolute;
      right: 10px;
      top: 25px;
      /* margin-left: 201px; */
}
.leftarrow{
      margin-left: -36px;
      position: relative;
      top: 10px;
}
.tcb_faq{
      overflow-y: scroll;
      padding-bottom: 20px;
}
.trc-faq{
      overflow-y: unset !important;
}

.faq, .tcb_faq {
      transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
      position: absolute;
      width: 100%;
  }
  
  .faq {
      transform: translateX(0);
      opacity: 1;
      width: 400px;
  }
  
  .faq.slide-out {
      transform: translateX(-100%);
      opacity: 0;
      width: 400px;
  }
  
  .tcb_faq {
      transform: translateX(100%);
      opacity: 0;
      visibility: hidden;
  }
  
  .tcb_faq.slide-in {
      transform: translateX(0);
      opacity: 1;
      visibility: visible;
  }
  
  .hidden {
      display: none;
  }
  
  .reschedule{
      overflow: hidden;
  }

.help-img,.media-support,.media-help{
      margin-left: 3rem;
}
@media screen and (max-width: 1025px) {

      .help-img{
            width: 380px;
      }
      .media-support{
            width: auto;
      }
}
@media screen and (max-width:767px) {
      
      .faq-bg{
            width: auto;
            margin: 0 auto !important;
      }
      .redbus-help{
            display: none;
      }
      
}
  @media screen and (max-width: 770px) and (min-width:600px) {
      .media-faq{
            width: 80%;
            margin-left: 70px;
      }
     
}
@media screen and (max-width:600px){
      .media-faq{
            width: 90% !important;
            margin-left: 11px;
      }
}
@media screen and (max-width: 1023px) {

      .help-img,.media-help,.media-support,.help-right,.help-right0,.media-support{
            display: none;
      }
      .media-faq{
            width: 80%;
      }
}
@media screen and (max-width: 993px) and (min-width:771px) {

      .media-faq{
            width: 80%;
            margin-left: 80px;
      }
}
@media screen and (max-width: 376px){

      .media-faq{
            width: 93%;
      }
}
@media screen and (max-width: 321px){

      .media-faq{
            width: 93%;
      }
      .mediacancellation{
            margin-left: 49px;
      }
     
}
@media screen and (max-width:1153px) and (min-width:1023px) {
      .help-img{
            width: 125%;
      }
}


