.homebg {
    background-image: url('./Homepage-header-800.webp');
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.from {
    position: absolute;
    left: 60px;
    bottom: 25px;
    border: none;
    background-color: transparent;
}

.to {
    position: absolute;
    left: 60px;
    bottom: 25px;
    border: none;
    background-color: transparent;
}

.bus1 {
    position: absolute;
    left: 10px;
    top: 30px;
    height: 30px;
    width: 50px;
    color: grey;
}

.bus2 {
    position: absolute;
    left: 10px;
    top: 30px;
    height: 30px;
    width: 50px;
    color: grey;
}

.datepicker-input {
    position: absolute;
    left: -85px;
    bottom: -50px;
    border: none;
    background-color: transparent;
    width: 100px;
    font-size: medium;
}

input:focus,
.datepicker-input:focus {
    outline: none;
}

.date_icon {
    position: absolute;
    left: 10px;
    top: 30px;
    height: 30px;
    width: 50px;
    color: grey;
}


.search-button {
    color: white;
    border: none;
    background-color: transparent;
    position: absolute;
    left: 0px;
    /* top: 32px; */
    height: 90px;
    width: 100%;
    
}
.fromdiv{
    display: inline-block;
    background-color: white;
    width: 20%;
    /* border-right: 1px solid grey; */
    height: 91px ;
    position: relative;
    top: 38px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.todiv{
    display: inline-block;
    background-color: white;
    width: 20%;
    border-left: 1px solid grey;
    height: 91px;
    position: relative;
    top: -29px;
    left: 0px;
}
.datediv{
    display: inline-block;
    background-color: white;
    width: 20%;
    border-left: 1px solid grey;
    height: 91px;
    position: relative;
    top: -35px;
    left: 0px;
}
.searchdiv{
    display: inline-block;
    background-color:#d84e55;
    width: 17%;
    border-left: 1px solid grey;
    height: 92px;
    position: relative;
    top: 38px;
    left: 0px;
    border-left: 1px solid grey;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.from-text {
    position: absolute;
    left: 60px;
    color: grey;
    top: 21px;
    cursor: pointer;
}

.to-text {
    position: absolute;
    left: 60px;
    color: grey;
    top: 21px;
    cursor: pointer;
}
.date-text {
    position: absolute;
    left: 60px;
    color: grey;
    top: 21px;
    cursor: pointer;
}
.gobutton {
    position: relative;
    top: 27px;
    left: -144px;
    padding: 5px 10px;
    background-color: white;
    border: 1px solid rgb(166, 165, 165);
    border-radius: 50%;
}
.mediaform{
    position: relative;
}
.homebg {
    padding: 2rem;
}

h1 {
    font-size: 2rem;
}


@media screen and (max-width: 1024px) and (min-width:769px) {
    .datepicker-input{
        left: -40px;
    }
    .gobutton {
        left: -100px;
    }
}

@media screen and (max-width: 768px) and (min-width:451px) {
    .search-button {
        left: 15px;
    }
    .fromdiv{
        width: 45%;
        left: -165px;
    }
    .todiv{
        width: 45%;
        left: -165px;
    }
    .datediv{
        width: 45%;
        left: 159px;
        top: -194px;
    }
    .searchdiv{
        width: 45%;
        left: 160px;
        top: -121px;
    }
    .datepicker-input{
        left: -20px;
    }
    .gobutton{
        left: -82px;
    }
}

@media screen and (max-width: 450px) {
    .fromdiv{
        display: block;
        width: 90%;
        border-radius: 10px;
        top: 1px;
        margin: 0 auto;
    }
    .todiv{
        display: block;
        width: 90%;
        border-radius: 10px;
        top: 40px;
        margin: 0 auto;
    }
    .gobutton{
        left: 0px;
        top: -37px;
    }
    .datediv{
        display: block;
        width: 90%;
        border-radius: 10px;
        top: 75px;
        margin: 0 auto;
    }
    .datepicker-input{
        left: -120px;
    }
    .homebg{
        height: 700px;
    }
    .search-button{
        left: 35px;
    }
    .searchdiv{
        display: block;
        width: 90%;
        border-radius: 10px;
        top: 110px;
        margin: 0 auto;
        border: none;
    }
}
@media screen and (max-width: 376px) {
    .datepicker-input{
        left: -100px;
    }
}

@media screen and (max-width: 321px) {
    .datepicker-input{
        left: -72px;
    }
}

